# DATA DOWNLOADER

In [1]:
# import libraries
import pandas as pd
import requests
import os
import time
from datetime import datetime,timedelta,timezone
from utils import try_request
import json

In [2]:
coin_pair = 'btc-usdt'
days_back = 1095
freq = '1day'

now = datetime.utcnow() # get current date and time in UTC
today_normal = now.replace(tzinfo = timezone.utc)  # set UTC the timezone 
begin_normal = today_normal - timedelta(days=days_back)

begin_unix = int(begin_normal.timestamp())
end_unix = int(today_normal.timestamp())

#print(begin_unix)
#print(end_unix)

In [3]:
base_format = 'https://api.kucoin.com/api/v1/market/candles?symbol={}&type={}&startAt={}&endAt={}'

In [4]:
"""[
    [
        "1545904980",             //Start time of the candle cycle
        "0.058",                  //opening price
        "0.049",                  //closing price
        "0.058",                  //highest price
        "0.049",                  //lowest price
        "0.018",                  //Transaction volume
        "0.000945"                //Transaction amount
    ],
    """
web_page = base_format.format(
    coin_pair.upper(),
    freq,
    begin_unix,
    end_unix
)
web_page

'https://api.kucoin.com/api/v1/market/candles?symbol=BTC-USDT&type=1day&startAt=1554651435&endAt=1649259435'

In [5]:
resp = try_request(web_page)
resp = resp.json()
#print(json.dumps(resp, indent=4, sort_keys=True))
data = resp['data']

In [6]:
info_data = pd.DataFrame(
    data,
    columns=['date','open','close','high','low','volume','amount'],
)

info_data = info_data.iloc[::-1]
info_data

,date,open,close,high,low,volume,amount
1094,1554681600,5166,5236,5300,5039.9,567.18077645,2932448.283171606
1093,1554768000,5241,5143.5,5241,5080.9,533.91069255,2751033.295967874
1092,1554854400,5143.5,5305.7,5400,5130.9,484.59675085,2545518.965912749
1091,1554940800,5307.6,5016,5332.4,4926.4,466.73618209,2370637.204087437
1090,1555027200,5018,5050.6,5075,4873.8,247.7584872,1240250.485928189
...,...,...,...,...,...,...,...
4,1648857600,46283.9,45806.6,47198,45610.4,30193.59439199,1402187503.542836981
3,1648944000,45806.6,46414.5,47476,45534,24653.42246,1143632545.226320617
2,1649030400,46414.6,46584.1,46884.6,45080.4,36537.81649675,1679316938.304057504
1,1649116800,46584.1,45501,47193,45358,14414.36282133,666630593.837973305
0,1649203200,45501,43954.7,45506.4,43715.7,13331.56317711,599220538.189148805