# DATA DOWNLOADER

In [10]:
# import libraries
import pandas as pd
import requests
import os
import time
from datetime import datetime,timedelta,timezone
from utils import try_request
import json

In [11]:
coin_pair = 'btc-usdt'
days_back = 1095
freq = '1day'

now = datetime.utcnow() # get current date and time in UTC
today_normal = now.replace(tzinfo = timezone.utc)  # set UTC the timezone 
begin_normal = today_normal - timedelta(days=days_back)

begin_unix = int(begin_normal.timestamp())
end_unix = int(today_normal.timestamp())

#print(begin_unix)
#print(end_unix)

In [12]:
base_format = 'https://api.kucoin.com/api/v1/market/candles?symbol={}&type={}&startAt={}&endAt={}'

In [13]:
"""[
    [
        "1545904980",             //Start time of the candle cycle
        "0.058",                  //opening price
        "0.049",                  //closing price
        "0.058",                  //highest price
        "0.049",                  //lowest price
        "0.018",                  //Transaction volume
        "0.000945"                //Transaction amount
    ],
    """
web_page = base_format.format(
    coin_pair.upper(),
    freq,
    begin_unix,
    end_unix
)
web_page

'https://api.kucoin.com/api/v1/market/candles?symbol=BTC-USDT&type=1day&startAt=1554891559&endAt=1649499559'

In [14]:
resp = try_request(web_page)
resp = resp.json()
#print(json.dumps(resp, indent=4, sort_keys=True))
data = resp['data']

In [15]:
info_data = pd.DataFrame(
    data,
    columns=['date','open','close','high','low','volume','amount'],
)

info_data = info_data.iloc[::-1]
info_data

,date,open,close,high,low,volume,amount
1094,1554940800,5307.6,5016,5332.4,4926.4,466.73618209,2370637.204087437
1093,1555027200,5018,5050.6,5075,4873.8,247.7584872,1240250.485928189
1092,1555113600,5051.6,5041.7,5091.6,5005.5,167.25650395,845740.493667692
1091,1555200000,5045.8,5133.7,5148.9,5002.5,176.23239617,892882.276424304
1090,1555286400,5134.6,5030.7,5167.2,4950.1,259.77856913,1319227.401586706
...,...,...,...,...,...,...,...
4,1649116800,46584.1,45501,47193,45358,14414.36282133,666630593.837973305
3,1649203200,45501,43166.8,45506.4,43113.7,18658.86505927,832264035.429774229
2,1649289600,43163.6,43442.1,43900.4,42721.8,9970.62831755,433260018.376681793
1,1649376000,43441.1,42262.7,43976.1,42108,14012.93522934,605911756.481187336
0,1649462400,42262.7,42450.9,42629.7,42123,1343.49712727,56948539.448853851

In [16]:
info_data.set_index('date',inplace=True)
info_data = info_data.astype(float, errors = 'raise')
info_data.head(20)

              open   close    high     low      volume        amount
date
1554940800  5307.6  5016.0  5332.4  4926.4  466.736182  2.370637e+06
1555027200  5018.0  5050.6  5075.0  4873.8  247.758487  1.240250e+06
1555113600  5051.6  5041.7  5091.6  5005.5  167.256504  8.457405e+05
1555200000  5045.8  5133.7  5148.9  5002.5  176.232396  8.928823e+05
1555286400  5134.6  5030.7  5167.2  4950.1  259.778569  1.319227e+06
1555372800  5027.4  5174.0  5192.3  5004.7  227.828122  1.162339e+06
1555459200  5173.8  5199.8  5227.5  5153.9  189.680810  9.841073e+05
1555545600  5200.0  5260.1  5285.0  5194.4  171.619350  8.989878e+05
1555632000  5256.8  5260.6  5324.2  5183.0  178.821291  9.371618e+05
1555718400  5258.7  5292.4  5330.5  5235.5  157.848023  8.343156e+05
1555804800  5293.5  5258.5  5310.4  5172.4  213.072271  1.116922e+06
1555891200  5257.8  5355.2  5395.5  5207.6  216.276757  1.144262e+06
1555977600  5354.9  5494.3  5599.9  5338.5  400.737348  2.206593e+06
1556064000  5494.4  5415.3  5578.9  5346.0  466.912660  2.534698e+06
1556150400  5415.3  5221.9  5485.2  5137.5  435.686057  2.331288e+06
1556236800  5221.9  5311.8  5515.5  5169.0  331.819499  1.762721e+06
1556323200  5312.1  5296.0  5339.4  5262.1  214.482977  1.136641e+06
1556409600  5295.0  5312.4  5700.0  5271.9  275.845168  1.468098e+06
1556496000  5310.0  5238.5  5334.5  5189.6  277.889020  1.463729e+06
1556582400  5239.1  5319.6  5340.6  5194.3  246.388345  1.299923e+06